SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PORT=4000
ADMIN_PASSWORD=dreno-admin-2024
APP_URL=http://localhost:5173
STRIPE_SECRET_KEY=sk_test_
STRIPE_WEBHOOK_SECRET=whsec_
STRIPE_CONNECT_CLIENT_ID=ca_
DAILY_API_KEY=
RESEND_API_KEY=re_
